@font-face {
    font-family: 'Recoleta'; 
    src: url('recoleta.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
  
body {
    font-family: 'Recoleta', sans-serif; 
}

/* Main header */
h1{
    font-size: 120px;
    margin: 0;
}
.tri{
    color:rgb(183,140,84);
    cursor: pointer;
}
.ple{
    color:rgb(122,150,130);
    cursor: pointer;
}
.do{
    color:rgb(90,123,161);
    cursor: pointer;
}
.ble{
    color:rgb(189,194,186);
    cursor: pointer;
}
.ve{
    color:rgb(128,71,70);
    cursor: pointer;
}

/* Lines */
.title-line-1 p{
    color:rgb(183,140,84);    
}
.title-line-2 p{
    color:rgb(122,150,130);
}
.title-line-3 p{
    color:rgb(90,123,161);
}
.title-line-4 p{
    color:rgb(189,194,186);
}
.title-line-5 p{
    color:rgb(128,71,70);
}

/* Title up */
.title-line-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.title-line-2{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-line-3{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-line-4{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-line-5{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Main Containers */
.container-main-inside{
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    align-items: center;
}
.container-one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: -50px;
   
}
.container-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: -15px;
}
.container-three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
.container-four{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
.container-five{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
.container-six{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 76%;
}
.container-six h2{
  font-size: 30px;
}

/* Lines */
.line-up-one{ 
    height: 120px; 
    width: 1px; 
    
    background-color: rgb(183,140,84);
}
.line-up-two{
    height: 120px; 
    width: 1px; 
    background-color: rgb(122,150,130);
}
.line-up-three{
    height: 120px; 
    width: 1px; 
    background-color: rgb(90,123,161);
   
}
.line-up-four{
    height: 120px; 
    width: 1px; 
    background-color: rgb(189,194,186);
   
}
.line-up-five{
    height: 120px; 
    width: 1px; 
    background-color: rgb(128,71,70);
   
}
/* Individual Colors Containers */
.container-brown{
    display: none;
    opacity: 0;
}
.container-brown-img{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container-brown img{
width: 400px;
height: 400px;
padding: 0px 0px 0px 400px;
}
.container-brown-text{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 200px 0px 50px;
}
.container-brown-text p{
    text-align: justify;
}